
/*======================*/
/* VAR */
/*======================*/

:root {

    --header-height: 90px;

    --text-xs: 0.75rem;  
    --text-sm: 0.875rem;  
    --text-md: 1rem;  
    --text-lg: 1.125rem;  
    --text-xl: 1.25rem;   
    --text-2xl: 1.5rem;

    --s-1: 0.25rem;  /* 4px */
    --s-2: 0.5rem;   /* 8px */
    --s-3: 0.75rem;  /* 12px */
    --s-4: 1rem;     /* 16px */
    --s-5: 1.25rem;  /* 20px */
    --s-6: 1.5rem;   /* 24px */
    --s-7: 1.75rem;  /* 28px */
    --s-8: 2rem;     /* 32px */
    --s-9: 2.25rem;  /* 36px */
    --s-10: 2.5rem;  /* 40px */
    --s-11: 2.75rem; /* 44px */
    --s-12: 3rem;    /* 48px */
    --s-14: 3.5rem;  /* 56px */
    --s-16: 4rem;    /* 64px */
    --s-20: 5rem;    /* 80px */
    --s-28: 7rem;    /* 112px */
    --s-32: 8rem;    /* 128px */
    --s-36: 9rem;    /* 144px */
    --s-40: 10rem;   /* 160px */
    --s-44: 11rem;   /* 176px */
    --s-48: 12rem;   /* 192px */
    --s-52: 13rem;   /* 208px */
    --s-56: 14rem;   /* 224px */
    --s-60: 15rem;   /* 240px */
    --s-64: 16rem;   /* 256px */
    --s-72: 18rem;   /* 288px */
    --s-80: 20rem;   /* 320px */
    --s-96: 24rem;   /* 384px */

    --black: #1b1b1b;
    --lightgray: #dadada;
    --white: #f7f7f7;

    --breakpoint-xs: 0px;       /* No minimum width */
    --breakpoint-sm: 640px;     /* Small screens (e.g., phones) */
    --breakpoint-md: 768px;     /* Medium screens (e.g., tablets) */
    --breakpoint-lg: 1024px;    /* Large screens (e.g., desktops) */
    --breakpoint-xl: 1280px;    /* Extra large screens */
    --breakpoint-2xl: 1536px;

    --radius-sm: 0.125rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;

}

/*======================*/
/* RESET */
/*======================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/*======================*/
/* THEME */
/*======================*/

body {
    width: 100vw;
    background-color: var(--white);
    user-select: none;
}

h1, h2, h3, h4, h5, h6, p, a {
    color:var(--black);
}

/*======================*/
/* #ROOT */
/*======================*/

#grid-one-col {
    width: 100vw;
    display: grid;
    position: relative;
    grid-template-columns: auto;
    grid-template-rows: var(--header-height) auto;
    grid-template-areas: 
        "header"
        "main"
    ;
}

/*======================*/
/* HEADER */
/*======================*/

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--s-4);
    border-bottom: 1px solid var(--lightgray);
    background-color: var(--white);
}

header #header-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: var(--s-1);
}

header #header-text h1 {
    font-size: var(--text-2xl);
}

header #header-text p {
    font-size: var(--text-sm);
}

header #icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*======================*/
/* MAIN */
/*======================*/

main {
    grid-area: main;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
}

main h1 {
    margin-bottom:3rem;
}

main p {
    margin-bottom:1rem;
    line-height: 1.5rem;
}

main h2 {
    margin-bottom: 1.5rem;
}

/*======================*/
/* NAV */
/*======================*/

nav {
    position: absolute;
    top: var(--header-height);
    width: 70%;
    border-right: 1px solid var(--lightgray);
    height: calc(100vh - var(--header-height));
    z-index: 60;
    background-color: var(--white);
    padding: var(--s-4);
}

nav ul {
    flex-direction: column;
    gap: var(--s-4);
    display: flex;
}

nav ul li {
    display: flex;
    border: 1px solid var(--lightgray);
    border-radius: var(--radius-md);
}

nav ul li a {
    padding: var(--s-4);
    font-size: var(--text-sm);
    width: 100%;
}



/*======================*/
/* OVERLAY */
/*======================*/

#nav-overlay {
    position: absolute;
    top: var(--header-height);
    width: 100vw;
    height: calc(100vh - var(--header-height));
    opacity: 50%;
    background-color: var(--black);
    z-index: 50;
}

/*======================*/
/* UTILITY */
/*======================*/

*.hidden {
    display: none;
}